# Виртуальные окружения (весят много, у каждого разработчика свои)
.venv/


# Настройки IDE PyCharm (не нужны другим людям)
.idea/

# Сохраненные веса моделей (лучше прикрепить их потом в раздел Releases на GitHub)
*.pth
fruits_model.pth

# Системные кэши Python
__pycache__/
*.pyc